body {
    background-image: url(../images/characterBG.png);
    background-position: center;
    background-size: cover;
    color: white;
    font-family: kenney;

}

@font-face {
    font-family: saucer;
    src: url(./SaucerBB.ttf);
}

.jumbotron {
    opacity: 0.9;
    background-color: rgb(30, 37, 56);
    word-break: break-word;
}

@font-face {
    font-family: kenney;
    src: url(./KenneySpace.ttf);
}

h1 {
    font-size: 4em;
    font-family: saucer;
}

.charSelectImg {
    width: 100px;
    height: 100px;
}

#charCreateForm {
    margin: auto;
}


#blastOff {
    margin-top: 1rem;
    font-size: 1rem;
    box-shadow: 0rem 0rem 1rem 1rem #8a00ca;
    background: #8700ca3D;
    color: white;
}

#charButton {
    text-align: center;
}

.modal-content {
    background-color: rgb(30, 37, 56);
}

.invalid-body {
    margin: 2em;
    text-align: center;
    line-height: 2em;
}

i {
    font-size: 1rem;
}

#facebook {
    display: block;
    text-align: center;
}

#privacy {
    text-shadow: 1px 1px 0 black;
}

/* @media only screen and (min-width: 1500px) {
    body {
        height: -webkit-fill-available;
    }

    .container {
        max-width: 70%;
        position: relative;
        top: 10%;
    }

    a {
        position: relative;
        top: 10rem;
    }
} */