body {
    background-image: url(../images/endingBG.gif);
    text-shadow: black 3px 2px 1px;
    background-size: cover;
    font-family: kenney;
    color: white;
    text-align: center;
}

@font-face {
    font-family: saucer;
    src: url(./SaucerBB.ttf);
}

h1 {
    font-family: saucer;
    font-size: 65px;
}

h4 {
    font-size: 1.2rem;
}

.jumbotron {
    opacity: 0.9;
    background-color: rgb(92, 51, 146);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 35px;
    padding: 1rem 1rem;
    height: fit-content;
}

@font-face {
    font-family: kenney;
    src: url(./KenneySpace.ttf);
}

button {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 25px;
    box-shadow: 0px 0px 50px 15px #8a00ca;
    background: #8700ca3D;
    color: white;
}

button:hover {
    background: #8700ca9a;
}

li {
    font-size: 0.9rem;
    /* list-style-type: none; */
    margin-top: 8px;
    list-style-position: inside;
    padding: 0;
}

li::before {
    content: "";
    width: 20px;
    display: inline-block;
}

ol {
    margin-left: 2em;
    margin-bottom: 2rem;
}

#facebook{
    display: block;
    text-align: center;
}

.death {
    background-image: url("../images/dead.png")
}

.enslaved {
    background-image: url("../images/enslaved.png")
}

.win {
    background-image: url("../images/won.png")
}

.wuss {
    background-image: url("../images/wuss.png")
}

@media only screen and (min-width: 1500px) {
    body {
        height: -webkit-fill-available;
    }

    .container {
        max-width: 70%;
        max-height: 55%;
        position: relative;
        top: 5%;
    }
}