.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url(../images/spaceBG.jpg);

}

#title {
  text-align: center;

}

@font-face {
  font-family: sasquatch;
  src: url(./Sasquatch.ttf);
}

#sassyTitle {
  font-size: 100px;
  font-family: sasquatch;
  color: white;
  margin-bottom: -50px;
}

@font-face {
  font-family: saucer;
  src: url(./SaucerBB.ttf);
}

#spaceTitle {
  color: white;
  font-size: 75px;
  font-family: saucer;
  margin-bottom: -25px;
}

#startButton {
  margin-top: 25px;
  border-radius: 25px;
  font-size: 75px;
  font-family: saucer;
  background-image: url(../images/start.gif);
  background-position: center;
  color: white;
  box-shadow: 0px 0px 50px 15px #8a00ca;
}