body {
  background-image: url(../images/spaceBG.jpg);
  text-align: center;
}

@font-face {
  font-family: saucer;
  src: url(./SaucerBB.ttf);
}

#sassyTitle {
  font-size: 6rem;
  font-family: saucer;
  color: white;
  line-height: 6rem;
  margin: 1rem 0rem 0rem 0rem;
}


#spaceTitle {
  color: white;
  font-size: 5rem;
  font-family: saucer;
  line-height: 5rem;
  margin-bottom: -1rem;
}

#startButton {
  width: 60%;
  text-decoration: none;
  margin-top: 1rem;
  border-radius: 25px;
  font-size: 5vw;
  font-family: saucer;
  background-image: url(../images/start.gif);
  background-position-x: 20%;
  background-position-y: 56%;
  background-size: 100%;
  color: white;
  box-shadow: 0rem 0rem 2rem 1rem #8a00ca;
}

@font-face {
  font-family: kenney;
  src: url(./KenneySpace.ttf);
}

p {
  font-family: kenney;
  color: white;
  z-index: 999;
}

.music-btn {
  box-shadow: 0px 0px 50px 15px #8a00ca;
  background: #8700ca3D;
  color: white;
  margin: 0px 15px 0px 15px;
  font-family: kenney;
  font-size: 10px;
}

.music {
  text-align: center;
  font-size: 12px;
}

@media only screen and (min-width: 1500px) {
  #startButton {
    font-size: 4vw;
  }
  body{
    /* height: -webkit-fill-available; */
  }
  .container{
    height: -webkit-fill-available;
    max-width: 80%;
    position: relative;
    top: 10%;
  }

}