body {
    background-color: black;
    background-image: url(../images/planetBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(248, 255, 176);
    text-align: center;
    font-family: kenney;
    text-shadow: black 2px 2px 1px;
}

@font-face {
    font-family: saucer;
    src: url(./SaucerBB.ttf);
}

@font-face {
    font-family: kenney;
    src: url(./KenneySpace.ttf);
}

.jumbotron {
    opacity: 0.9;
    background-color: rgb(92, 51, 146);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 35px;
    padding: 1rem 1rem;
    height: fit-content;
}

.row {
    margin-bottom: 3rem;
}

h1 {
    font-family: saucer;
    font-size: 3rem;
    color: chocolate;
    margin-top: -10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    border-bottom: 3px solid white;
}

p {
    font-size: 1.4rem;
}

li {
    font-size: 0.9rem;
    list-style-type: none;
    margin-top: 10px;
}

span {
    color: chocolate;
}

button {
    box-shadow: 0px 0px 50px 15px #8a00ca;
    background: #8700ca3d;
    color: rgb(248, 255, 176);
    border-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0.3rem;
}

button:hover {
    background: #8700ca9a;
}

.btn-secondary {
    background: #8700ca9a; 
}

.btn-secondary {
    box-shadow: 0px 0px 50px 15px #8a00ca;
    background: #8700ca3d;
    color: rgb(248, 255, 176);
    border-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-content {
    background: #4a3953;
    color: chocolate;
    border-color: black;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    line-height: 1.8rem;
}

#player-move,
#planet-move {
    background: #8700caa9;
    color: rgb(248, 255, 176);
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: auto;
}


.stats {
    margin-bottom:2rem;
}

#planet-move {
    margin-top: 1em;
}

#point-outcome {
    color: beige;
}

@media only screen and (min-width: 1500px) {
    body {
        height: -webkit-fill-available;
    }

    #mediaCont {
        max-width: 70%;
        position: relative;
        top: 5%;
        height: 10rem;
    }
}