.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url(../images/spaceBG.jpg);
  
}

#title {
  text-align: center;
 
}

@font-face {
  font-family: sasquatch;
  src: url(./Sasquatch.ttf);
}

#sassyTitle {
  font-size: 100px;
  font-family: sasquatch;
  color: white;
}

@font-face {
  font-family: saucer;
  src: url(./SaucerBB.ttf);
}

#spaceTitle {
  color: white;
  font-size: 75px;
  font-family: saucer;
}